<main>
<%= current_post.each do |post| %>
<%= if post.catagory == "lost" %>
 <div id = "card" class="card-<%= post.catagory %>" >
    <img class ="img-post-<%= post.catagory %>" src="/images/catlost.jpg" style="margin: 15px; width: 200px;">
    <div class="post-<%= post.catagory %>">
      <p class="post-name-<%= post.catagory %>">ชื่อโพสต์: <%= post.title %></p>
      <p class = "detail-<%= post.catagory %>" style="font-size: 16px"><%= post.content %>
      </p>
    </div>      
    <div class = "<%= post.catagory %>">
      <p>ผู้โพสต์ : หลินปิง แพนด้าน่ารัก</p>
      <p>โพสต์เมื่อ : <%= Time.zone.today %></p>
    </div>
  </div>
  <% end %>
<% end %>
</main>