
<style type="text/css">
	.form-post{
		margin: auto;
  		width: 50%;
  		padding: 10px;
	}
</style>
<main>
<div class="form-post">
  <center><h1>New Post</h1></center>

<%= render 'form', post: @post %>
</div>
</main>

