// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//card lost
.card-lost{
	display: grid;
  	grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1.3fr 0.7fr;
  	grid-template-areas: "img-post-lost post-lost" "post-detail-lost post-detail-lost";
	margin: 20px 50px 10px 50px;
	border-style: solid;
  	border-color: black;
  	border: 1px solid black;
  	box-shadow: 5px 10px #888888;
}
.img-post-lost { 
  	grid-area: img-post-lost; 
}

.post-lost{ 
	grid-area: post-lost;
	font-size: 30px; 
}
.lost{ 
  grid-area: post-detail-lost;
  margin: 0px;
  padding: 20px 40px;
  background-color: #EC7063;
}

.detail-lost{
  margin-right: 30px;
}
p.detail-lost,p.detail-find,p.detail-found{
  font-size: 20px !important;
}

p.post-name-lost{
  font-size: 25px;
}
main p{
  font-family: 'Itim', cursive;
}
//card find
.card-find{
	display: grid;
  	grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1.3fr 0.7fr;
  	grid-template-areas: "img-post-find post-find" "post-detail-find post-detail-find";
	margin: 20px 50px 10px 50px;
	border-style: solid;
  	border-color: black;
  	border: 1px solid black;
  	box-shadow: 5px 10px #888888;
}
.img-post-find { 
  grid-area: img-post-find; 
}
.post-find{ 
	grid-area: post-find;
}
.find{ 
  grid-area: post-detail-find;
  margin: 0px;
  padding: 20px 40px;
  background-color: #58D68D;
  word-wrap: break-word;

}
.post-name-find{
	font-size: 25px; 
}
.detail-post-find{
	font-size: 20px; 
}
//card found
.card-found{
	   display: grid;
  	grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1.3fr 0.7fr;
  	grid-template-areas: "img-post-found post-found" "post-detail-found post-detail-found";
	 margin: 20px 50px 10px 50px;
	 border-style: solid;
  	border-color: black;
  	border: 1px solid black;
	  box-shadow: 5px 10px #888888;
	  word-break: break-all;
}

.img-post-found { 
  grid-area: img-post-found; 
}

.post-found{ 
	grid-area: post-found;
}

.found{ 
  grid-area: post-detail-found;
  margin: 0px;
  padding: 20px 40px;
  background-color: #F5B041;
}
.post-name-found{
	font-size: 25px; 
}

.lost p{
  font-size: 20px;
  margin: 4px;
}
.find p{
  font-size: 20px;
	margin: 4px;
}
.found p{
  font-size: 20px;
	margin: 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 1.5fr;
  grid-template-rows: 0.5fr auto;
  grid-template-areas: "header header" "menu main";
  margin: auto;
  background-color: #DCDCDC;
  max-width: 1300px;
  min-width: 1300px;
}
body{
	font-family: 'Itim', cursive;
}
header {
	grid-area: header;
	background-color: black;
}

menu {
	margin : 0px;
	background-color: black;
	grid-area: menu; 
	padding-left: 0px;
}

main {
	grid-area: main;
	background-color: white;
    padding-bottom: 30px;
}

.btnTap{
	font-size: 23px;
	background-color: inherit;
	color: white;
	transition: 0.3s;
	text-decoration: none;
	padding: 10px;
	margin-top: 10px;
}

.btnTap:hover {
  background-color: #D3D3D3;
  color: black;
}

.dot1 {
  height: 25px;
  width: 25px;
  background-color: #EC7063;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 25px;
  width: 25px;
  background-color: #58D68D;
  border-radius: 50%;
  display: inline-block;
}
.dot3 {
  height: 25px;
  width: 25px;
  background-color: #F5B041;
  border-radius: 50%;
  display: inline-block;
}
.typePost span{
	font-size: 30px;
	margin: 20px 10px 0px;
	font-family: 'Itim', cursive;
}
