// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.dot1 {
  height: 25px;
  width: 25px;
  background-color: #EC7063;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 25px;
  width: 25px;
  background-color: #58D68D;
  border-radius: 50%;
  display: inline-block;
}
.dot3 {
  height: 25px;
  width: 25px;
  background-color: #F5B041;
  border-radius: 50%;
  display: inline-block;
}
.search-box{
  width:820px;
  padding:5px 5px;
  margin:10px 1px;
  font-family: 'Itim', cursive;
  font-size: 18px;
}
.search-button{
  width:100px;
  padding:5px 5px;
  margin:10px 1px; 
  font-family: 'Itim', cursive;
  font-size: 18px;
}
.notice{
  margin:5px 50px;
  padding:5px 5px;
  color:red;
}

.btn-back{
  margin: 5px 5px;
  padding: 5px 27px;
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 2px;
}
.btn-clear{

  background-color:#ff8b86;
  padding: 5px 10px;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 2px;
}

.btn-submit{
  padding: 5px 10px;
  background-color:#58D68D;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 2px;
}

.btn-clear:hover{
  background-color: #ff1a1a;
}
.btn-submit:hover{
  background-color: #07994d;
}
.btn-back:hover{
  background-color: darkgray;
}