// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.edit-btn{
	color: white;
}
menu{
	color: white;
}
.login{
	color: white;
	border-radius: 20px;
	margin: 20px 10px 0px 10px;
	padding: 10px 0px 20px 20px;
	background-color: #095a6d;
}
.field{
  margin: 10px 0px !important;
}


